.l-container {
  padding: 1rem;

  &--tb {
    padding: 1rem 0;
  }
  &--lr {
    padding: 0 1rem;
  }
}

.l-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &__col--top {
    align-self: flex-start;
  }
  &__col--middle, &__col--center {
    align-self: center;
  }
  &__col--bottom {
    align-self: flex-end;
  }
}

.l-grid--right {
  justify-content: flex-end;
}

.l-grid--gutters {
  margin: -1rem 0 0 -1rem;

  > .l-grid__col {
    padding: 1rem 0 0 1rem;
  }
}

.l-grid--fit > .l-grid__col {
  flex: 1;
}
.l-grid--full > .l-grid__col {
  flex: 0 0 100%;
}
.l-grid--1of2 > .l-grid__col {
  flex: 0 0 50%;
}
.l-grid--1of3 > .l-grid__col {
  flex: 0 0 33.3333%;
}
.l-grid--1of4 > .l-grid__col {
  flex: 0 0 25%;
}

@include breakpoint('sm') {
  .l-grid--sm--fit > .l-grid__col {
    flex: 1;
  }
  .l-grid--sm--full > .l-grid__col {
    flex: 0 0 100%;
  }
  .l-grid--sm--1of2 > .l-grid__col {
    flex: 0 0 50%;
  }
  .l-grid--sm--1of3 > .l-grid__col {
    flex: 0 0 33.3333%;
  }
  .l-grid--sm--1of4 > .l-grid__col {
    flex: 0 0 25%;
  }
}

@include breakpoint('lg') {
  .l-grid--lg--fit > .l-grid__col {
    flex: 1;
  }
  .l-grid--lg--full > .l-grid__col {
    flex: 0 0 100%;
  }
  .l-grid--lg--1of2 > .l-grid__col {
    flex: 0 0 50%;
  }
  .l-grid--lg--1of3 > .l-grid__col {
    flex: 0 0 33.3333%;
  }
  .l-grid--lg--1of4 > .l-grid__col {
    flex: 0 0 25%;
  }
}

@media only screen and (min-width: 24em) {

}

@media only screen and (min-width: 48em) {

}
