.c-form-control {
  padding: 0.5rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1rem;
  transition: all 200ms;
  display: inline-block;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.25rem 0.5rem -0.125rem rgba(black, 0.10), 0rem 0rem 0.0625rem rgba(black, 0.2);

  &:focus {
    outline: none;
    box-shadow: 0rem 0rem 0rem 0.25rem rgba(map-get($brand, "blue"), 0.5), 0rem 0.25rem 0.5rem -0.125rem rgba(black, 0.10), 0rem 0rem 0.0625rem rgba(black, 0.2)
  }
}
