.c-post {
  &__title {

  }
  &__title-link {
    text-decoration: none;
  }
  &__meta {
    margin-bottom: 1rem;
  }
  &__meta-label {
    font-size: 1rem;
    font-weight: 500;
  }
  &__meta-value {
  }
}
